.home-page {
  .content {
    height: calc(100% - 67px);
    position: relative;
    overflow: hidden;
    max-width: none;
    margin: 0;
    padding: 0;

    .image-wrapper {
      img {
        height: 100%;
        position: absolute;
        margin: 0;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
      }
    }
  }
}