.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 0 50px; }
  .products .product {
    position: relative;
    border: 1px solid #dd2529;
    padding: 15px;
    text-align: center; }
  .products label {
    display: none; }
  .products .mass-delete {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    margin: 10px; }
  .products .attribute {
    padding: 5px 0; }
    .products .attribute:first-child {
      padding: 0 0 5px; }
    .products .attribute:last-child {
      padding: 5px 0 0; }
  .products .attribute-name {
    margin: 0 5px 0 0; }
    .products .attribute-name:after {
      content: ":"; }

/*# sourceMappingURL=product-view.css.map */
