@import "variable";

#product-add-form {
  & > .table-form {
    float: left;
    width: 30%;
  }

  .product-type {
    display: none;
    float: left;
    width: 70%;

    .additional-fields {
      float: left;
      width: 45%;
      margin: 0 0 0 5%;
    }
    .hints {
      float: left;
      position: relative;
      width: 50%;

      &:before {
        content: 'Hints';
        position: absolute;
        background: #fff;
        border: 2px solid $base-color;
        top: -15px;
        left: 0;
        margin: 0 0 0 15px;
        padding: 5px;
        color: $base-color;
        font-weight: bold;
        z-index: 1;
      }

      p {
        height: 100px;
        padding: 25px 15px 15px;
        border: 2px dashed $base-color;
      }
    }
  }

  .submit-button {
    display: none;
  }
}