@import "variable";

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 0 50px;

  .product {
    position: relative;
    border: 1px solid $base-color;
    padding: 15px;
    text-align: center;
  }

  label {
    display: none;
  }
  .mass-delete {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    margin: 10px;
  }
  .attribute {
    padding: 5px 0;

    &:first-child {
      padding: 0 0 5px;
    }
    &:last-child {
      padding: 5px 0 0;
    }
  }
  .attribute-name {
    margin: 0 5px 0 0;

    &:after {
      content: ":";
    }
  }
}