#product-add-form > .table-form {
  float: left;
  width: 30%; }
#product-add-form .product-type {
  display: none;
  float: left;
  width: 70%; }
  #product-add-form .product-type .additional-fields {
    float: left;
    width: 45%;
    margin: 0 0 0 5%; }
  #product-add-form .product-type .hints {
    float: left;
    position: relative;
    width: 50%; }
    #product-add-form .product-type .hints:before {
      content: 'Hints';
      position: absolute;
      background: #fff;
      border: 2px solid #dd2529;
      top: -15px;
      left: 0;
      margin: 0 0 0 15px;
      padding: 5px;
      color: #dd2529;
      font-weight: bold;
      z-index: 1; }
    #product-add-form .product-type .hints p {
      height: 100px;
      padding: 25px 15px 15px;
      border: 2px dashed #dd2529; }
#product-add-form .submit-button {
  display: none; }

/*# sourceMappingURL=product-new.css.map */
