@import "reset";
@import "variable";

body {
  position: relative;
  padding: 0 0 52px;
}

a {
  color: $base-color;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0;
}

select {
  &:focus {
    outline: none;
  }
}

.validation {
  input:valid,
  select:valid,
  input:in-range {
    background: $green-background;
    border-color: $green-main;
  }
  input:invalid,
  select:invalid,
  input:out-of-range {
    background: $red-background;
    border-color: $red-main;
  }
}

input {
  width: 200px;
  border: 1px solid $base-color;
  padding: 5px 10px;
}

select {
  width: 200px;
  border: 1px solid $base-color;
  padding: 5px 10px;
  background: #fff;
}

button {
  background: none;
  border: 2px solid $base-color;
  padding: 8px 15px;
  color: $base-color;
  font-weight: bold;

  &:hover {
    background: $base-color;
    color: #fff;
  }
}

.content {
  padding: 30px 0 0;
}

.msg {
  margin: 5px 0;

  li {
    margin: 5px 0;
    padding: 8px 15px;
    border: 1px solid black;
    font-weight: bold;

    &.success {
      background: $green-background;
      color: $green-color;
      border-color: $green-main;
    }
    &.error {
      background: $red-background;
      color: $red-color;
      border-color: $red-main;
    }
  }
}

.title {
  float: left;
  width: 100%;
  margin: 15px 0 30px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid $base-color;

  h1 {
    float: left;
    margin: 0;
    line-height: 35px;
  }
  .button-set {
    float: right;
  }
}

.table-form {
  display: table;

  li {
    display: table-row;

    span {
      display: table-cell;
      padding: 10px 15px;
    }
  }
}

header {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid $base-color;

  .header-logo {
    float: left;

    img {
      height: 35px;
      margin: 15px 25px;
    }
  }

  nav {
    float: right;

    li {
      float: left;
      margin: 22.5px 0;

      a {
        padding: 8px 15px;
        font-weight: bold;
        text-decoration: none;
        line-height: 20px;

        &:hover {
          background: $base-color;
          color: #fff;
        }
      }
    }
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid $base-color;

  p {
    padding: 0 25px;
  }
}
