html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  padding: 0 0 52px; }

a {
  color: #dd2529; }

h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0; }

select:focus {
  outline: none; }

.validation input:valid,
.validation select:valid,
.validation input:in-range {
  background: #d9f2d9;
  border-color: #40bf40; }
.validation input:invalid,
.validation select:invalid,
.validation input:out-of-range {
  background: #f2d9d9;
  border-color: #bf4040; }

input {
  width: 200px;
  border: 1px solid #dd2529;
  padding: 5px 10px; }

select {
  width: 200px;
  border: 1px solid #dd2529;
  padding: 5px 10px;
  background: #fff; }

button {
  background: none;
  border: 2px solid #dd2529;
  padding: 8px 15px;
  color: #dd2529;
  font-weight: bold; }
  button:hover {
    background: #dd2529;
    color: #fff; }

.content {
  padding: 30px 0 0; }

.msg {
  margin: 5px 0; }
  .msg li {
    margin: 5px 0;
    padding: 8px 15px;
    border: 1px solid black;
    font-weight: bold; }
    .msg li.success {
      background: #d9f2d9;
      color: #009f00;
      border-color: #40bf40; }
    .msg li.error {
      background: #f2d9d9;
      color: #bf0000;
      border-color: #bf4040; }

.title {
  float: left;
  width: 100%;
  margin: 15px 0 30px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #dd2529; }
  .title h1 {
    float: left;
    margin: 0;
    line-height: 35px; }
  .title .button-set {
    float: right; }

.table-form {
  display: table; }
  .table-form li {
    display: table-row; }
    .table-form li span {
      display: table-cell;
      padding: 10px 15px; }

header {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #dd2529; }
  header .header-logo {
    float: left; }
    header .header-logo img {
      height: 35px;
      margin: 15px 25px; }
  header nav {
    float: right; }
    header nav li {
      float: left;
      margin: 22.5px 0; }
      header nav li a {
        padding: 8px 15px;
        font-weight: bold;
        text-decoration: none;
        line-height: 20px; }
        header nav li a:hover {
          background: #dd2529;
          color: #fff; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #dd2529; }
  footer p {
    padding: 0 25px; }

/*# sourceMappingURL=styles.css.map */
