$base-color: #dd2529;

$green-background: hsl(120, 50%, 90%);
$green-main: hsl(120, 50%, 50%);
$green-color: #009f00;
$red-background: hsl(0, 50%, 90%);
$red-main: hsl(0, 50%, 50%);
$red-color: #bf0000;