<nav>
    <ul>
        <li><a href="<?php echo $this->getUrl('productView'); ?>">Product List</a></li>
        <li><a href="<?php echo $this->getUrl('productNew'); ?>">New Product</a></li>
    </ul>
</nav>
