<header>
    <div class="container">
        <div class="header-logo">
            <a href="<?php echo $this->getUrl(); ?>">
                <img src="<?php echo $this->getUrl('images/sw_logo.png'); ?>" alt="ScandiWeb" />
            </a>
        </div>
        <?php echo $this->getChildBlockHtml('navigation'); ?>
    </div>
</header>