<head>
    <link rel="icon" type="image/png" href="https://www.printful.com//favicon.png"/>
    <?php /* @var $this HeadBlock */?>
    <title><?php echo $this->getTitle(); ?></title>
    <?php echo $this->getCssFilesHtml(); ?>
    <?php echo $this->getJsFilesHtml(); ?>
</head>
