<html>
    <?php echo $this->getChildBlockHtml('head'); ?>
    <body class="<?php echo $this->getLayoutIdentifier(); ?>">
        <?php echo $this->getChildBlockHtml('header'); ?>

        <div class="content container">
            <?php echo $this->getChildBlockHtml('messages'); ?>
            <?php echo $this->getChildBlockHtml('content'); ?>
        </div>
        <?php echo $this->getChildBlockHtml('footer');?>
    </body>
</html>