<?php $messagesArray = Session::getMessages(); ?>
<?php if(count($messagesArray) > 0): ?>
<div class="msg">
    <ul>
        <?php foreach ($messagesArray as $type => $messages): ?>
            <?php foreach ($messages as $message): ?>
                <li class="<?php echo $type; ?>"><?php echo $message; ?></li>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>