<div class="title">
    <h1>New product</h1>

    <div class="button-set">
        <button id="save-product-submit">Product save</button>
    </div>
</div>

<div class="form-wrapper">
    <form id="product-add-form" method="POST" action="<?php echo $this->getFormUrl(); ?>">

        <ul class="table-form">
            <li class="field name">
            <span>
                <label for="new-product-name">Name</label>
            </span>
                <span>
                <input type="text" name="name" id="new-product-name" required="required" />
            </span>

            </li>
            <li class="field sku">
            <span>
                <label for="new-product-sku">SKU</label>
            </span>
                <span>
                <input type="text" name="sku" id="new-product-sku" required />
            </span>
            </li>
            <li class="field price">
            <span>
                <label for="new-product-price">Price</label>
            </span>
                <span>
                <input type="number" step="0.01" name="price" id="new-product-price" required />
            </span>
            </li>
            <li class="product-type-select">
            <span>
                <label for="product-type">Product type</label>
            </span>
                <span>
                <select name="product-type" id="product-type" required>
                    <option value="">Please select product type</option>
                    <option value="cd">CD</option>
                    <option value="book">Book</option>
                    <option value="furniture">Furniture</option>
                </select>
            </span>
            </li>
        </ul>
        <div class="product-type cd">
            <ul class="table-form additional-fields">
                <li class="field size">
                <span>
                    <label for="new-product-size">Size</label>
                </span>
                    <span>
                    <input type="text" name="size" id="new-product-size" />
                </span>
                </li>
            </ul>
            <div class="hints">
                <p>Please insert size of the CD in MB units.</p>
            </div>
        </div>
        <div class="product-type book">
            <ul class="table-form additional-fields">
                <li class="field weight">
                <span>
                    <label for="new-product-weight">Weight</label>
                </span>
                    <span>
                    <input type="number" step="0.01" name="weight" id="new-product-weight" />
                </span>
                </li>
            </ul>
            <div class="hints">
                <p>Please insert weight of the book in kg units.</p>
            </div>
        </div>
        <div class="product-type furniture">
            <ul class="table-form additional-fields">
                <li class="field dimensions height">
                <span>
                   <label for="new-product-dimension-height">Height</label>
                </span>
                    <span>
                   <input type="number" name="height" id="new-product-dimension-height" />
                </span>
                </li>
                <li class="field dimensions width">
                <span>
                    <label for="new-product-dimension-width">Width</label>
                </span>
                    <span>
                    <input type="number" name="width" id="new-product-dimension-width" />
                </span>
                </li>
                <li class="field dimensions length">
                <span>
                    <label for="new-product-dimension-length">Length</label>
                </span>
                    <span>
                    <input type="number" name="length" id="new-product-dimension-length" />
                </span>
                </li>
            </ul>
            <div class="hints">
                <p>Please insert dimensions of furniture. Note that all fields should be filled.</p>
            </div>
        </div>
        <input class="submit-button" type="submit" value="Add Product">
    </form>
</div>