<div class="title">
    <h1>Product List</h1>

    <div class="button-set">
        <label for="mass-actions">Mass actions</label>
        <select id="mass-actions">
            <option value="">---Select mass action---</option>
            <option value="<?php echo $this->getUrl('productMassDelete');?>">Mass Delete Action</option>
        </select>
        <button id="mass-action-submit">Apply</button>
    </div>
</div>
<div class="products">
    <?php foreach($this->getProductCollection() as $product): ?>
        <div class="product">
            <label for="mass-delete-<?php echo $product->getData('product_id'); ?>">Mass delete action</label>
            <input id="mass-delete-<?php echo $product->getData('product_id'); ?>" class="mass-delete" type="checkbox" name="product-delete[]" value="<?php echo $product->getData('sku'); ?>">
            <div class="attribute"><?php echo $product->getData('name'); ?></div>
            <div class="attribute"><?php echo $product->getData('sku'); ?></div>
            <div class="attribute"><?php echo $this->priceFormat($product->getData('price')); ?></div>
            <?php echo $this->getProductsAttributeHtml($product); ?>
        </div>
    <?php endforeach;?>
</div>