<?php $product = $this->getData('product'); ?>
<div class="attribute">
    <span class="attribute-name">Dimensions</span>
    <span>
        <?php echo $product->getData('height'); ?>x<?php echo $product->getData('width'); ?>x<?php echo $product->getData('length'); ?>
    </span>
</div>